.landing-main {
  color: #333;
  position: relative;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 500px;
  min-width: 400px;
}
#landing_name_intro {
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: -15px;
  font-size: 100px;
}
#landing_p_intro {
  margin-bottom: 0px;
  position: relative;
  left: 10px;
}
#landing_bio_intro {
  position: absolute;
  bottom: 200px;
}



.landing-name-wrapper {
  animation: y-axis 6s ease-in ;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.anim-letter-0 {
  animation: x-axis 6s ease-in ;
  animation-iteration-count: infinite;

}

.anim-letter-1 {
  animation: x-axis 6s ease-in 1;
  animation-iteration-count: infinite;
}

.anim-letter-2 {
  animation: x-axis 6s ease-in 1;
  animation-iteration-count: infinite;

}

@keyframes x-axis {
  
  
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(550px);
  }
}

@keyframes y-axis {
  0%{
    transform: translateY(0px) ;
  }90% {
    transform: translateY(100px) rotate(10deg);
  }95%{
    transform: rotate(360deg);
  }
}
