.header {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 10%;
  font-family: 'Rasa';
  color: #6c4e4e;
  padding: 20px;
}

#header_date_cmp{
  position: absolute;
  top: 0px;
  font-size: 12px;
}

#header_name_weather{
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 12px;

}
#header_weather_logo{
  position: absolute;
  left: 0px;
  top: 70%;

}
