.header {
  display: flex;
  position: relative;  
  flex-direction: column-reverse;
  align-items: center;
  height: 10%;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  color: #c7ddd1;
  padding: 20px;
}

#header_date_cmp{
  font-size: 10px;
}

#header_name_weather{
  font-size: 20px;
}
