.header-nav-items{
  font-size: 12px;
  letter-spacing: .3px;
  list-style: none;
  margin:0px 5px 0px 10px; 

}
.header-nav-bar{
  display: flex;
  position: absolute;
  align-items: center;
  right:3%;
  bottom: 15.462px;
}
