* {
  font-family: "Adamina";
}

.app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.intro {
  flex-wrap: wrap;
  margin: 5% 0% -20% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body, html{
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
body{
  background-color: #afcaad ;
}
