* {
  font-family: "Adamina";
}

.app {
  height: 100%;
  overflow-y: auto;
}
.intro {
  flex-wrap: wrap;
  margin: 5% 0% -20% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
